body {
  margin: 0;
  background: url(../img/ocean_landscapes_beach_australia.jpg)no-repeat center center fixed;
  background-size: cover;
}
header .logo {
  position: relative;
  top: -525px;
  left: 50px;
}
img.my_logo {
  position: relative;
  left: 31%;
}
.my_logo_one{
  position: relative;
  left: 31%;
  bottom:60px;
}
h2 {
  float:right;
}
/*--------=== Small Desktop ===---------*/

@media only screen and (min-width: 1280px){
	img.my_logo {
  	top: 72px;	
  	margin: 0 -.4%;	
  }

.my_logo_one {
  position: relative;
  left: 31.4%;
  bottom: -8px;
  width: 35.8%;
	}
}

/*--------=== Ultrabook ===---------*/
@media only screen and (min-width: 1366px){
	img.my_logo {
  	top: 1px;
  	margin: 0 .8%;
	}
	.my_logo_one {
  	position: relative;
  	left: 30.6%;
  	bottom: 56px;
  	width: 35.8%;
	}
}

