body {
  margin: 0;
  background: url(../img/Flinders-Street-passing-Federation-Square-and-Flinders-Street-1024x683_two.png)no-repeat center center fixed;
  background-size: cover;
}
header .logo {
  position: relative;
  top: -525px;
  left: 50px;
}
img.my_logo {
  position: relative;
  left: 31%;
}
.my_logo_one{
  position: absolute;
  left: 65.4%;
  top:616px;
  width:33.8%;
}
h2 {
  float:right;
}
/*--------=== Small Desktop ===---------*/

@media only screen and (min-width: 1280px){
	img.my_logo {
  	top: 72px;	
  	margin: 0 -.4%;	
    z-index: 1;
  }

.my_logo_one {
  position: absolute;
  left: 63.4%;
  bottom: 1px;
  width: 35.8%;
  z-index: 1;
	}
a.rotate {
    position: absolute;
    top: 129px;
    left: 76%;
    z-index: 1;
  }
  header .logo {
    top: -242px;
    z-index: 1;
  }
  .bgvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
  }
}

/*--------=== Ultrabook ===---------*/
@media only screen and (min-width: 1366px){
	img.my_logo {
  	top: 1px;
  	margin: 0 .8%;
    z-index: 1;
	}
	.my_logo_one {
  	position: relative;
  	left: 30.6%;
  	top: 226px;
  	width: 35.8%;
    z-index: 1;
	}
	a.rotate {
  	position: absolute;
  	top: 60px;
  	left: 76%;
    z-index: 1;
	}
  header .logo {
    top: -242px;
    z-index: 1;
  }
  .bgvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
  }
}

